<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Intellectual Game">
    <meta name="author" content="">
    <title>The Game</title>
   
    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!--CSS-->
    <link href="~/css/style.css" rel="stylesheet" />
    
</head>
<body>
    <div id="container">
        <div id="menu">
            <ul>
                <li class="option">
                    <a asp-action="Index">Home</a>
                </li>
                <li class="option">
                    <a asp-action="About">Rankingi</a>
                </li>
                <li class="option">
                    <a asp-action="Regulamin">Jak grać?</a>
                </li>
                <li class="optionR">
                 Wyloguj
                </li>
                <li class="optionR">
                Konto
                </li>
                <li>
                <div style="clear:both;"></div>

                </li>
            </ul>
        </div>
        <div id="topbar">
            <div id="topbarL">
                <img src="~/images/einstein.png" /> 
            </div>
            <div id="topbarR">
                <div style="height: 15px;"></div>
                <em>"Szaleństwem jest robić wciąż to samo i oczekiwać różnych rezultatów” </em><br /><br /> ~ Albert Einstein.
            </div>
            <div style="clear:both;"></div>
        </div>
      
            <ul id="sidebar">
                <li class="optionL">Strona główna</li>
                <li class="optionL">Pojedynki</li>
                <li class="optionL">Historia</li>
            </ul>
            @*<div class="optionL">Strona główna</div>
            <div class="optionL">Pojedynki </div>
            <div class="optionL">Historia</div>*@
        

        <div id="content">
            <center>
                    @RenderSection("Scripts", required: false)
                    @RenderBody()
            </center>        
        </div>
        <div id="footer">
            THEGame &copy; Wszelkie prawa zastrzeżone 2016
        </div>
    </div>

    @section scripts{

      
    }
</body>
</html>
