<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Intellectual Game">
    <meta name="author" content="">
    <title>The Game</title>
   
    <!--Font-->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!--CSS-->
    <link href="~/css/style.css" rel="stylesheet" />
    
</head>
<body>
    <div id="container">
        <div id="menu">
            <a asp-action="Index"><div class="option">Home</div></a>
            <a asp-action="About"><div class="option">Rankingi</div></a>
            <a asp-action="Index"><div class="option">Jak grać?</div></a>
            <div class="optionR">Wyloguj</div>
            <div class="optionR">Moje konto</div>
            <div style="clear:both;"></div>
        </div>
        <div id="topbar">
            <div id="topbarL">
                <img src="~/images/craig.jpg" /> <!--einstain-->
            </div>
            <div id="topbarR">
                <div style="height: 15px;"></div>
                "Szaleństwem jest robić wciąż to samo i oczekiwać różnych rezultatów” <br /> ~ Albert Einstein.
            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="sidebar">
            <div class="optionL">Strona główna</div>
            <div class="optionL">Pojedynki </div>
            <div class="optionL">Historia</div>
        </div>
        <div id="content">
            <center>
                    @RenderSection("Scripts", required: false)
                    @RenderBody()
            </center>        
        </div>
        <div id="footer">
            THEGame &copy; Wszelkie prawa zastrzeżone 2016
        </div>
    </div>

    @section scripts{
      
    }
</body>
</html>
