img{
    width: 105px;
    border-radius: 100%;
	-webkit-box-shadow: -5px -5px #303030;
    margin-left: 40px;
}

body
{
	background-color: #404040;
    font-family: 'Open Sans', sans-serif;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#menu, #topbar, #sidebar, #content, .option, .optionL, .optionR{
    border-radius: 2ex;
	-moz-border-radius: 2ex;
	-webkit-border-radius: 2ex;

}

.optionL, .optionR, .option{
	-moz-box-shadow: -5px -5px #777777;
	-webkit-box-shadow: -5px -5px #117777;
}

#menu
{
	background-color: #303030;
	margin-top: 10px;
	color: #ffffff;
	padding: 10px;
	
}

#topbar
{
	background-color: #128870;
	color: white;
	padding: 10px;
    margin: 10px 0 10px 0;
	height: 100px;

}

#topbarL
{
	float:left;
	width: 138px;
	text-align: center;


}

#topbarR
{
	float: left;
	padding: 10px;
	width: 760px;
	font-size: 16px;
    text-align: center;
    color:gold;
}

#sidebar
{
	float: left;
	width: 158px;
	min-height: 220px;
	padding:15px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
    margin-top: 0px;
}

#content
{
	float: left;
	padding: 40px;
	width: 720px;
	background-color: #dedede;
	min-height: 580px;
	text-align: justify;
    margin-left: 10px;
}

#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}

.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted #444444;
	opacity: 0.8;
    color: antiquewhite;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: antiquewhite;
}

.optionR
{
	float: right;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted #444444;
	opacity: 0.8;
    margin-right: 20px;
    
}

.option:hover
{
	background-color: #000000;
	cursor: pointer;
    transition: all 0.5s  cubic-bezier(0.72,-0.15, 0.58, 1);
    color:gold;
}

.optionR:hover
{
	background-color: #000000;
	cursor: pointer;
    transition: all 0.5s  cubic-bezier(0.72,-0.15, 0.58, 1);
    color:gold;
}

.optionL
{
    margin-top: 20px;
	font-size:18px;
	height:25px;
	padding: 10px;
	border-bottom: 2px dotted #444444;
}

.optionL:hover
{
	background-color: #f36742;
	color: white;
	cursor: pointer;
    transition: all 0.5s  cubic-bezier(0.72,-0.15, 0.58, 1);
    color:gold;
}

.bigtitle
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
}

ul {
  list-style-type: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}